openapi: 3.1.0
info:
  title: Alconost Metrics API
  version: v1
  description: |
    API for computing and retrieving translation quality metrics.

    Metric evaluations are **asynchronous**: a `POST /evaluations` request
    validates the input, queues the work, and immediately returns an
    `Evaluation` resource whose `status` progresses through
    `pending → running → succeeded` (or `failed`).
    Poll `GET /evaluations/{evaluation_id}` or list with filters to track
    progress.

    ## Supported metrics

    | Family | Metrics |
    |--------|---------|
    | Classical | BLEU, ChrF, TER, WER, HLEPOR |
    | BERT-Score | base, large, xl, xxl (precision / recall / F1) |
    | Neural QE | COMET, X-COMET, X-COMET-XL, COMET-Kiwi, COMET-Kiwi-XL, COMET-Kiwi-XXL, MetricX-Hybrid-XXL |

    Results are written back into `Segment` and `Document` objects so they
    can be queried independently of the evaluation that produced them.
  contact:
    name: Alconost.dev
  license:
    name: Proprietary

servers:
  - url: https://alconost.dev/api/v1
    description: Production
  - url: https://stage.alconost.dev/api/v1
    description: Staging

tags:
  - name: Evaluations
    description: Async metric evaluation lifecycle
  - name: Estimations
    description: Cost and time estimates for evaluations
  - name: Documents
    description: Documents with computed metrics
  - name: Segments
    description: Individual segment scores

paths:
  # ── Evaluations ───────────────────────────────────────────────────────
  /evaluations:
    post:
      operationId: createEvaluation
      summary: Create a metric evaluation
      description: |
        Validates the input and queues an asynchronous metric evaluation.
        The response contains the `Evaluation` resource in `pending` state.

        **Metrics selection** — pass an explicit list in `metrics`;
        when omitted the server computes *all* metrics compatible with
        the supplied data (reference-based if `reference_text` is present,
        reference-free otherwise).
      tags: [Evaluations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvaluationRequest"
      responses:
        "201":
          description: Evaluation created and queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Evaluation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

    get:
      operationId: listEvaluations
      summary: List evaluations
      description: |
        Returns a paginated list of evaluations, optionally filtered by
        status or document.
      tags: [Evaluations]
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: status
          in: query
          description: Filter by evaluation status.
          schema:
            $ref: "#/components/schemas/EvaluationStatus"
        - name: document_id
          in: query
          description: Filter by document ID.
          schema:
            type: string
      responses:
        "200":
          description: A page of evaluations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEvaluationsResponse"

  /evaluations/{evaluation_id}:
    parameters:
      - $ref: "#/components/parameters/EvaluationId"

    get:
      operationId: getEvaluation
      summary: Get an evaluation
      description: Returns the current state of a metric evaluation including progress and results when complete.
      tags: [Evaluations]
      responses:
        "200":
          description: Evaluation details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Evaluation"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: cancelEvaluation
      summary: Cancel an evaluation
      description: |
        Cancels an evaluation that is `pending` or `running`.
        Completed or already-cancelled evaluations cannot be cancelled.
      tags: [Evaluations]
      responses:
        "200":
          description: Evaluation cancelled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Evaluation"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Evaluation is already in a terminal state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Estimations ──────────────────────────────────────────────────────
  /estimations:
    post:
      operationId: createEstimation
      summary: Estimate an evaluation
      description: |
        Returns a cost and time estimate for the given evaluation payload
        **without** queuing any work. Use this as a dry-run before calling
        `POST /evaluations`.

        The request body is identical to `CreateEvaluationRequest`.
      tags: [Estimations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvaluationRequest"
      responses:
        "200":
          description: Estimation computed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Estimation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  # ── Documents ─────────────────────────────────────────────────────────
  /documents:
    get:
      operationId: listDocuments
      summary: List documents
      description: Returns a paginated list of documents with their aggregated metrics.
      tags: [Documents]
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: system
          in: query
          description: Filter by system identifier.
          schema:
            type: string
        - name: source_lang
          in: query
          description: Filter by source language (BCP 47).
          schema:
            type: string
        - name: target_lang
          in: query
          description: Filter by target language (BCP 47).
          schema:
            type: string
      responses:
        "200":
          description: A page of documents.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsResponse"

  /documents/{document_id}:
    parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string

    get:
      operationId: getDocument
      summary: Get a document
      description: Returns a document with all segments and computed metrics.
      tags: [Documents]
      parameters:
        - name: include_segments
          in: query
          description: When `true`, embeds the full segment list in the response. Default `false`.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Document details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Segments ──────────────────────────────────────────────────────────
  /documents/{document_id}/segments:
    parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string

    get:
      operationId: listSegments
      summary: List segments for a document
      description: Returns a paginated, ordered list of segments with per-segment metric scores.
      tags: [Segments]
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: A page of segments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSegmentsResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /documents/{document_id}/segments/{segment_id}:
    parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      - name: segment_id
        in: path
        required: true
        schema:
          type: string

    get:
      operationId: getSegment
      summary: Get a segment
      description: Returns a single segment with all computed metric scores.
      tags: [Segments]
      responses:
        "200":
          description: Segment details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Segment"
        "404":
          $ref: "#/components/responses/NotFound"

# ═══════════════════════════════════════════════════════════════════════
# Components
# ═══════════════════════════════════════════════════════════════════════
components:
  # ── Parameters ────────────────────────────────────────────────────────
  parameters:
    EvaluationId:
      name: evaluation_id
      in: path
      required: true
      schema:
        type: string

    PageSize:
      name: page_size
      in: query
      description: Maximum number of items to return (1–100, default 20).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    PageToken:
      name: page_token
      in: query
      description: Opaque token for the next page.
      schema:
        type: string

  # ── Responses ─────────────────────────────────────────────────────────
  responses:
    BadRequest:
      description: The request is malformed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    UnprocessableEntity:
      description: Validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  # ── Schemas ───────────────────────────────────────────────────────────
  schemas:
    # ─ Enumerations ───────────────────────────────────────────────────
    MetricName:
      type: string
      description: Identifier for a supported metric.
      enum:
        - bleu
        - chrf
        - ter
        - wer
        - hlepor
        - bert
        - bert_l
        - bert_xl
        - bert_xxl
        - comet
        - xcomet
        - xcomet_xl
        - cometkiwi
        - cometkiwi_xl
        - cometkiwi_xxl
        - metricx_hybrid_xxl

    EvaluationStatus:
      type: string
      description: Lifecycle state of an evaluation.
      enum:
        - pending
        - running
        - succeeded
        - failed
        - cancelled

    # ─ Metric scores ─────────────────────────────────────────────────
    MetricScores:
      type: object
      description: All per-item metric scores. Every field is nullable — absent means "not computed".
      properties:
        bleu:
          type: number
          format: double
          description: BLEU score.
        chrf:
          type: number
          format: double
          description: ChrF score.
        ter:
          type: number
          format: double
          description: Translation Error Rate.
        wer:
          type: number
          format: double
          description: Word Error Rate.
        hlepor:
          type: number
          format: double
          description: HLEPOR score.
        bert_p:
          type: number
          format: double
          description: BERTScore precision (base).
        bert_r:
          type: number
          format: double
          description: BERTScore recall (base).
        bert_f1:
          type: number
          format: double
          description: BERTScore F1 (base).
        bert_l_p:
          type: number
          format: double
          description: BERTScore precision (large).
        bert_l_r:
          type: number
          format: double
          description: BERTScore recall (large).
        bert_l_f1:
          type: number
          format: double
          description: BERTScore F1 (large).
        bert_xl_p:
          type: number
          format: double
          description: BERTScore precision (XL).
        bert_xl_r:
          type: number
          format: double
          description: BERTScore recall (XL).
        bert_xl_f1:
          type: number
          format: double
          description: BERTScore F1 (XL).
        bert_xxl_p:
          type: number
          format: double
          description: BERTScore precision (XXL).
        bert_xxl_r:
          type: number
          format: double
          description: BERTScore recall (XXL).
        bert_xxl_f1:
          type: number
          format: double
          description: BERTScore F1 (XXL).
        comet:
          type: number
          format: double
          description: COMET score.
        xcomet:
          type: number
          format: double
          description: X-COMET score.
        xcomet_xl:
          type: number
          format: double
          description: X-COMET-XL score.
        cometkiwi:
          type: number
          format: double
          description: COMET-Kiwi score (reference-free).
        cometkiwi_xl:
          type: number
          format: double
          description: COMET-Kiwi-XL score (reference-free).
        cometkiwi_xxl:
          type: number
          format: double
          description: COMET-Kiwi-XXL score (reference-free).
        metricx_hybrid_xxl:
          type: number
          format: double
          description: MetricX Hybrid XXL score.

    # ─ Core resources ────────────────────────────────────────────────
    Segment:
      type: object
      description: |
        A single translation unit evaluated for one system within a document.
      required:
        - id
        - system
        - source_lang
        - target_lang
        - source_text
        - target_text
        - order_index
      properties:
        id:
          type: string
          description: Segment identifier.
        system:
          type: string
          description: System identifier.
        source_lang:
          type: string
          description: Source language code (BCP 47).
        target_lang:
          type: string
          description: Target language code (BCP 47).
        source_text:
          type: string
          description: Original text.
        target_text:
          type: string
          description: Translated text.
        reference_text:
          type: string
          description: Reference translation (optional — required for reference-based metrics).
        order_index:
          type: integer
          format: int32
          description: Position of the segment within the document.
        meta:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value metadata.
        scores:
          $ref: "#/components/schemas/MetricScores"

    Document:
      type: object
      description: |
        A collection of segments for a single system and language pair.
      required:
        - id
        - name
        - system
        - source_lang
        - target_lang
      properties:
        id:
          type: string
          description: Document identifier.
        name:
          type: string
          description: Human-readable document name.
        system:
          type: string
          description: System identifier.
        source_lang:
          type: string
          description: Source language code (BCP 47).
        target_lang:
          type: string
          description: Target language code (BCP 47).
        segments:
          type: array
          description: Segments belonging to this document (included when `include_segments=true`).
          items:
            $ref: "#/components/schemas/Segment"
        meta:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value metadata.
        aggregated_scores:
          $ref: "#/components/schemas/MetricScores"

    # ─ Evaluation ───────────────────────────────────────────────────
    EvaluationProgress:
      type: object
      description: Progress details for a running evaluation.
      properties:
        percent:
          type: integer
          minimum: 0
          maximum: 100
          description: Numeric progress (0–100).

    EvaluationError:
      type: object
      description: Error details when an evaluation fails.
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error description.

    Evaluation:
      type: object
      description: |
        Represents an asynchronous metric evaluation job.
        Created via `POST /evaluations`, then polled via `GET /evaluations/{id}`.
      required:
        - evaluation_id
        - status
        - created_at
      properties:
        evaluation_id:
          type: string
          description: Unique evaluation identifier.
        status:
          $ref: "#/components/schemas/EvaluationStatus"
        metrics:
          type: array
          description: Metrics requested (or all supported if omitted in the request).
          items:
            $ref: "#/components/schemas/MetricName"
        document_ids:
          type: array
          description: IDs of documents being evaluated.
          items:
            type: string
        progress:
          $ref: "#/components/schemas/EvaluationProgress"
        error:
          $ref: "#/components/schemas/EvaluationError"
        created_at:
          type: string
          format: date-time
          description: When the evaluation was created.
        started_at:
          type: string
          format: date-time
          description: When the evaluation started running.
        completed_at:
          type: string
          format: date-time
          description: When the evaluation finished (success or failure).

    # ─ Estimation ──────────────────────────────────────────────────
    Estimation:
      type: object
      description: Cost estimate for a metric evaluation, broken down by metric.
      required:
        - segment_count
        - document_count
        - items
        - total_duration
        - total_price
      properties:
        segment_count:
          type: integer
          description: Total number of segments across all documents.
        document_count:
          type: integer
          description: Total number of documents.
        items:
          type: array
          description: Per-metric cost and time breakdown.
          items:
            $ref: "#/components/schemas/EstimationItem"
        total_duration:
          type: number
          format: double
          description: Total estimated duration in seconds (sum of all metrics).
        total_price:
          type: number
          format: double
          description: Total estimated price in US dollars (sum of all metrics).

    EstimationItem:
      type: object
      description: Estimation for a single metric.
      required:
        - metric
        - duration
        - price
      properties:
        metric:
          $ref: "#/components/schemas/MetricName"
        duration:
          type: number
          format: double
          description: Estimated duration in seconds for this metric.
        price:
          type: number
          format: double
          description: Estimated price in US dollars for this metric.
        max_tokens:
          type: integer
          description: Token limit per batch. Only present for LLM-based metrics (BERT-Score, COMET, etc.).
        batches:
          type: integer
          description: Number of batches required. Only present for LLM-based metrics (BERT-Score, COMET, etc.).

    # ─ Request / Response wrappers ───────────────────────────────────
    CreateEvaluationRequest:
      type: object
      description: Request body for creating a new metric evaluation.
      required:
        - documents
      properties:
        documents:
          type: array
          minItems: 1
          description: |
            Documents (with segments) to evaluate.
            Each document must contain at least one segment with `source_text`
            and `target_text`. Include `reference_text` on segments to enable
            reference-based metrics (BLEU, ChrF, TER, COMET, etc.).
          items:
            $ref: "#/components/schemas/DocumentInput"
        metrics:
          type: array
          description: |
            Explicit list of metrics to compute. When omitted, the server
            selects all metrics compatible with the supplied data.
          items:
            $ref: "#/components/schemas/MetricName"
        meta:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary metadata attached to the evaluation.

    DocumentInput:
      type: object
      description: Document payload supplied when creating an evaluation.
      required:
        - name
        - system
        - source_lang
        - target_lang
        - segments
      properties:
        name:
          type: string
          description: Human-readable document name.
        system:
          type: string
          description: System identifier.
        source_lang:
          type: string
          description: Source language code (BCP 47).
        target_lang:
          type: string
          description: Target language code (BCP 47).
        segments:
          type: array
          minItems: 1
          description: Translation segments to evaluate.
          items:
            $ref: "#/components/schemas/SegmentInput"
        meta:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value metadata.

    SegmentInput:
      type: object
      description: Segment payload supplied when creating an evaluation.
      required:
        - source_text
        - target_text
      properties:
        source_text:
          type: string
          description: Original text.
        target_text:
          type: string
          description: Translated text.
        reference_text:
          type: string
          description: Reference translation (required for reference-based metrics).
        order_index:
          type: integer
          format: int32
          description: Segment position within the document.
        meta:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value metadata.

    ListEvaluationsResponse:
      type: object
      required:
        - evaluations
      properties:
        evaluations:
          type: array
          items:
            $ref: "#/components/schemas/Evaluation"
        next_page_token:
          type: string
          description: Token for the next page (absent on last page).

    ListDocumentsResponse:
      type: object
      required:
        - documents
      properties:
        documents:
          type: array
          items:
            $ref: "#/components/schemas/Document"
        next_page_token:
          type: string
          description: Token for the next page (absent on last page).

    ListSegmentsResponse:
      type: object
      required:
        - segments
      properties:
        segments:
          type: array
          items:
            $ref: "#/components/schemas/Segment"
        next_page_token:
          type: string
          description: Token for the next page (absent on last page).

    # ─ Error envelope ────────────────────────────────────────────────
    Error:
      type: object
      description: Standard error response.
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error description.
        details:
          type: array
          description: Optional structured error details.
          items:
            type: object
            additionalProperties: true
